<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../js/vue.js"></script>
		<title>checkbox & v-model</title>
	</head>

	<body>
		<div id="app">
			<!-- 单个复选框在进行双向绑定时，v-model 后跟一个 Boolean 值 -->
			<input type="checkbox" v-model="license" /><label for="">我同意协议</label>
			<button :disabled="!license">Next</button>

			<!-- 多个复选框在进行双向绑定时，v-model 后跟一个数组 -->
			<label for="">爱好：</label>
			<input type="checkbox" value="吃饭" id="eating" v-model="hobbies" />
			<label for="eating">吃饭</label>
			<input type="checkbox" value="睡觉" id="sleeping" v-model="hobbies" />
			<label for="sleeping">睡觉</label>
			<input type="checkbox" value="打游戏" id="playGame" v-model="hobbies" />
			<label for="playGame">打游戏</label>
			<input type="checkbox" value="喝水" id="drinking" v-model="hobbies" />
			<label for="drinking">喝水</label>
			<h4>您的爱好是：{{hobbies}}</h4>
		</div>

		<script>
			const app = new Vue({
				el: '#app',
				data: {
					message: 'Hello Vuejs!',
					license: false,
					hobbies: [],
				},
			})
		</script>
	</body>
</html>
