@font-face {
  font-family: "iconfont"; /* Project id 3472312 */
  src: url('iconfont.woff2?t=1655467885211') format('woff2'),
       url('iconfont.woff?t=1655467885211') format('woff'),
       url('iconfont.ttf?t=1655467885211') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e661";
}

.icon-delete:before {
  content: "\e60d";
}

